/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */

 /* Containers */

 $x-small: 600px;
 $small: 800px;
 $medium: 1000px;
 $large: 1200px;

 /*Breakpoints*/

 $mobile: $x-small;
 $tablet: $small;
 $desktop: $medium;

/*Colors*/

/*Typography*/

// Body font

// Headings

// Mobile heading font size

// Heading font size

/*Padding*/

/*Borders*/

/*Buttons*/

// Accent buttons

// Muted buttons

// Round buttons

/*Forms*/

/*Tables*/

/*Code*/
  




