/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */

 /* Containers */

 $x-small: 600px;
 $small: 800px;
 $medium: 1000px;
 $large: 1200px;

 /*Breakpoints*/

 $mobile: $x-small;
 $tablet: $small;
 $desktop: $medium;

/*Colors*/ //default colors to get you started - change them based on your design
$background: #f2f2f2
$primary-color: #0366EE;
$secondary-color: #FBA100;
$accent-color: #cdcdcd;
$alternate-background: #fafafa;
$alternate-color: #404040;
$link-color: $primary-color;
$link-hover-color: darken($link-color, 15%);
$highlight: #ffeea8;
$error: #D33C40;
$bq-border: 16px solid #f0f0f0;
/*Typography*/

// Body font
$font-size: 1rem;
$body-font-size: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color-light:#f2f2f2
$font-color-dark: #404040
$font-family: Helvetica Neue, Helvetica;
$line-height: 1.6
// Headings
$heading-font-color-light: #f2f2f2 ; //change these colors to fit your design
$heading-font-color-dark: #404040;
$heading-font-family: Helvetica Neue;
$heading-line-height: 1.2;

// Mobile heading font size
$h1-mobile: 1.75rem;
$h2-mobile: 1.5rem;
$h3-mobile: 1.25rem;
$h4-mobile: 1.1rem;
$h5-mobile: 1rem;

// Heading font size
$h1: 2.25rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;

/*Padding*/

/*Borders*/

/*Buttons*/

// Accent buttons

// Muted buttons

// Round buttons

/*Forms*/

/*Tables*/

/*Code*/





