/* use the custom_styles file to add background images and other extras that need to be defined on a local level*/

a {
	color: #000;
	text-decoration: underline;
}

a:hover,
a:active,
a:focus {
	color: #0366ee;
}

/* Header */

header {
    padding: 50px 0;
    background:#516f99 url('../img/seamless.png');
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
}

header h1 {
    font-family: "Source Code Pro";
    color: #ebb4b4;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 2px -1px 0 #000

}

header p {
    font-size: 0.75rem;
    line-height: 1.6;
     color: rgba(255, 255, 255, .9);
}