/* use the custom_styles file to add background images and other extras that need to be defined on a local level*/

a {
	color: #000;
	text-decoration: underline;
}

a:hover,
a:active,
a:focus {
	color: #0366ee;
}

/* Header */

header {
    padding: 50px 0;
    background:#516f99 url('../img/seamless.png'); no repeat left center / cover;
}

header h1 {
    font-family: "Source Code Pro";
    color: #ebb4b4;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 2px -1px 0 #000

}

header p {
    font-size: 0.75rem;
    line-height: 1.6;
     color: rgba(255, 255, 255, .9);
}

.setup {
    margin-bottom: 0;
    z-index: 1;
}

.installation {
    background: white;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .setup {
        background: #fafafa;
        margin-bottom: 60px;
    }
    .installation {
        padding: 20px;
        border: 1px solid #efefef;
        margin-top: -100px;
        margin-bottom: -100px;
        z-index: 2;
    }
}

.logos {
    max-width: 150px;
}